@{
    Layout = null;
}

<form method="post">
    <img src="@ViewBag.AvatarUrl" style="width:40px;height:40px;" />
    <br />
    <input name="userName" type="text" value="@ViewBag.NickName" required />
    <button type="submit">设置用户名</button>
</form>