@model IEnumerable<System.Security.Claims.Claim>
@{
    ViewBag.Title = "User Claims";
}

<table>
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
    </tr>
    @foreach (var claim in Model)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>
