<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implicit Client - @ViewBag.Title</title>
    <style>
        table {
            width:100%;
        }
        table,tr,th,td {
            text-align: left;
            border:1px solid #ccc;
            border-collapse: collapse; 
            padding:4px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>