<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            @if (this.User != null
                && this.User.Identity != null
                && this.User.Identity.IsAuthenticated == true)
            {
                @Html.RouteLink("Logout", "account-logout")
            }
            else
            {
                @Html.RouteLink("QQ Login", "account-qq-login", new { returnUri = this.Request.Url })
                <br />
                @Html.RouteLink("QQ Login (Mobile)", "account-qq-login", new { returnUri = this.Request.Url, isMobile = true })
            }
        </nav>
    </header>
    <br />
    @RenderBody()
</body>
</html>